.network {
    padding-top: 30px;

    .heading {
        max-width: 380px;
        margin: 0 auto;
    }

    &-image {
        margin-top: 155px;

        img {
            margin: 0 auto;
        }
    }
}

// responsive 

@media (max-width: 1023px) {
    .network-image {
        margin-top: 50px;
    }
}